//Your custom styles here


.SpPagination {
  text-align: center;
  .SpPaginationTitle {
    font-size: 13px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 10px;
  }
  .SpPaginationItem {
    display: inline-block;
    padding: 0px 5px;
    color: black;
    text-decoration: underline;
    &.active {
      text-decoration: none;
      color: gray;
    }
  }
}

.SpTable {
  font-size: 12px;
  width: 100%;
  margin-bottom: 10px;
  thead {
    tr {
      vertical-align: middle;
      text-align: center;
      th {
        padding: 8px 5px;
        border-bottom: 0px solid black;
        margin: 0;
      }
    }
  }
  tr {
    vertical-align: middle;
    text-align: center;
    td {
      padding: 8px 5px;
      border-bottom: 1px solid lightgray;
      margin: 0;
    }
  }
}
@font-face {
  font-family: 'hlt-45';
  src: url("/fonts/HelveticaNeueLTPro-Lt.otf") format("opentype");
}
@font-face {
  font-family: 'hlt-55';
  src: url("/fonts/HelveticaNeueLTPro-Roman.otf") format("opentype");
}
@font-face {
  font-family: 'hlt-65';
  src: url("/fonts/HelveticaNeueLTPro-Md.otf") format("opentype");
}
@font-face {
  font-family: 'hlt-75';
  src: url("/fonts/HelveticaNeueLTPro-Bd.otf") format("opentype");
}
@font-face {
  font-family: 'hlt-85';
  src: url("/fonts/HelveticaNeueLTPro-Hv.otf") format("opentype");
}
.flex{
  display: flex;
  align-items: center;
}