//Your custom styles here


.SpPagination {
  text-align: center;
  .SpPaginationTitle {
    font-size: 13px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 10px;
  }
  .SpPaginationItem {
    display: inline-block;
    padding: 0px 5px;
    color: black;
    text-decoration: underline;
    &.active {
      text-decoration: none;
      color: gray;
    }
  }
}

.active {
  color: #5d61ff;
  cursor: pointer;
}
.SpTable {
  font-size: 12px;
  width: 100%;
  margin-bottom: 10px;
  thead {
    tr {
      vertical-align: middle;
      text-align: center;
      th {
        padding: 8px 5px;
        border-bottom: 0px solid black;
        margin: 0;
      }
    }
  }
  tr {
    vertical-align: middle;
    text-align: center;
    td {
      padding: 8px 5px;
      border-bottom: 1px solid lightgray;
      margin: 0;
    }
  }
}
@font-face {
  font-family: 'hlt-45';
  src: url("/fonts/HelveticaNeueLTPro-Lt.otf") format("opentype");
}
@font-face {
  font-family: 'hlt-55';
  src: url("/fonts/HelveticaNeueLTPro-Roman.otf") format("opentype");
}
@font-face {
  font-family: 'hlt-65';
  src: url("/fonts/HelveticaNeueLTPro-Md.otf") format("opentype");
}
@font-face {
  font-family: 'hlt-75';
  src: url("/fonts/HelveticaNeueLTPro-Bd.otf") format("opentype");
}
@font-face {
  font-family: 'hlt-85';
  src: url("/fonts/HelveticaNeueLTPro-Hv.otf") format("opentype");
}
@media (max-width: 768px) {
  $fullWidth: 90vw;
  body{
    .content{
      width: 100%;
      margin: 0 auto;
    }
    .content-top{
      padding-top: 10px;
    }
  }
}
.flex{
  display: flex;
  align-items: center;
}
.content{
  width: 1200px;
  margin: 0 auto;
}
.content-top{
  padding: 30px 0;
  margin: 0 auto;
}
:root{
  body{
    background-color: #f8f8f8;
  }
  .ant-table-row{
    background-color: #fcfcfc;
    cursor: pointer;
    &.table-striped{
      background-color: #f8f8f8;
    }
  }
  .ant-table-thead{
    tr > th{
      background-color: #EEEFFF;
      font-family: 'hlt-75';
      &::before{
        display: none;
      }
    } 
  }
  .ant-table{
    color:#16161D;
    font-family: 'hlt-45';
    font-size: 14px;
    border-radius: 5px;
  }
}